@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,200,100);
@font-face {
  font-family: 'Open Sans Light';
  src: url("OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("OpenSans-Regular.ttf");
}

/* ==============
    Navigation
   ============== */
/* line 8, ../sass/nav.scss */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  background-color: rgba(78, 177, 186, 0.35);
  opacity: .7;
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
/* line 18, ../sass/nav.scss */
nav:hover {
  background-color: #00323b;
  opacity: 1;
  -webkit-transition: background-color 300ms ease-out, color 250ms ease-out, opacity 500ms ease-out;
  -moz-transition: background-color 300ms ease-out, color 250ms ease-out, opacity 500ms ease-out;
  -o-transition: background-color 300ms ease-out, color 250ms ease-out, opacity 500ms ease-out;
  transition: background-color 300ms ease-out, color 250ms ease-out, opacity 500ms ease-out;
  color: white;
}
/* line 26, ../sass/nav.scss */
nav .logo h1 {
  float: left;
  width: 254px;
  height: 50px;
  text-indent: -9999px;
  margin-left: 45px;
  margin-top: 10px;
}
/* line 34, ../sass/nav.scss */
nav .logo a {
  display: block;
  width: 254px;
  height: 50px;
  background: url("../img/logo-white.png") no-repeat;
}
/* line 42, ../sass/nav.scss */
nav .menu {
  float: right;
}
/* line 44, ../sass/nav.scss */
nav .menu a {
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
  /*  cross effect on hover  */
  padding: 12px 5px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 57, ../sass/nav.scss */
nav .menu a:before, nav .menu a:after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background: #4eb1ba;
  content: '';
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
/* line 70, ../sass/nav.scss */
nav .menu a:before {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
/* line 73, ../sass/nav.scss */
nav .menu a:after {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}
/* line 76, ../sass/nav.scss */
nav .menu a:hover, nav .menu a:focus {
  color: #4eb1ba;
}
/* line 80, ../sass/nav.scss */
nav .menu a:hover:before, nav .menu a:hover:after, nav .menu a:focus:before, nav .menu a:focus:after {
  opacity: 0.7;
}
/* line 83, ../sass/nav.scss */
nav .menu a:hover:before, nav .menu a:focus:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 86, ../sass/nav.scss */
nav .menu a:hover:after, nav .menu a:focus:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 92, ../sass/nav.scss */
nav .nav-item {
  position: relative;
  list-style: none;
  float: left;
  margin: 0 45px 0 0;
  line-height: 46px;
  z-index: 1;
}

@media (max-width: 980px) {
  /* line 108, ../sass/nav.scss */
  nav .nav-item {
    margin-right: 26px;
  }
}
@media (max-width: 767px) {
  /* line 115, ../sass/nav.scss */
  nav {
    padding: 0;
    background-color: #00323b;
    opacity: 1;
  }
  /* line 120, ../sass/nav.scss */
  nav .logo h1 {
    margin-top: 0;
    padding: 10px 0;
  }
  /* line 128, ../sass/nav.scss */
  nav .menu-btn {
    cursor: crosshair;
    background: url("../img/menu-btn.png");
    margin: 19px 45px 0 0;
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
  }
  /* line 142, ../sass/nav.scss */
  nav .menu {
    clear: both;
    float: none;
  }
  /* line 146, ../sass/nav.scss */
  nav .menu .nav-item {
    float: none;
    text-align: center;
  }
  /* line 151, ../sass/nav.scss */
  nav .menu a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    /*  cross effect on hover  */
    display: block;
    padding: 0;
    color: #fff;
    font-weight: 400;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  /* line 165, ../sass/nav.scss */
  nav .menu a:before, nav .menu a:after {
    top: 100%;
    content: '';
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* line 178, ../sass/nav.scss */
  nav .menu a:before {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  /* line 181, ../sass/nav.scss */
  nav .menu a:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  /* line 184, ../sass/nav.scss */
  nav .menu a:hover, nav .menu a:focus {
    color: #4eb1ba;
  }
  /* line 188, ../sass/nav.scss */
  nav .menu a:hover:before, nav .menu a:hover:after, nav .menu a:focus:before, nav .menu a:focus:after {
    opacity: 0.7;
  }
  /* line 191, ../sass/nav.scss */
  nav .menu a:hover:before, nav .menu a:focus:before {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  /* line 194, ../sass/nav.scss */
  nav .menu a:hover:after, nav .menu a:focus:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@media (max-width: 480px) {
  /* line 204, ../sass/nav.scss */
  nav .logo h1 {
    width: 154px;
  }
  /* line 209, ../sass/nav.scss */
  nav .logo a {
    display: block;
    width: 154px;
    height: 50px;
    background: url("../img/logo-white-small.png") no-repeat;
  }

  /* line 218, ../sass/nav.scss */
  .menu-btn {
    margin-right: 25px;
  }
}
@media (max-width: 321px) {
  /* line 226, ../sass/nav.scss */
  nav .logo h1 {
    margin-left: 25px;
  }
  /* line 230, ../sass/nav.scss */
  nav .menu-btn {
    margin-right: 25px;
  }
}
