@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,200,100);
@font-face {
  font-family: 'Open Sans Light';
  src: url("OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("OpenSans-Regular.ttf");
}

/* line 122, icons/*.png */
.icons-sprite, .icons-facebook, .icons-linkedin, .icons-location, .icons-mail, .icons-spotify, .icons-telephone, .icons-twitter {
  background: url('../img/icons-sf6d22f9f3f.png') no-repeat;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 -210px;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook:hover, .icons-facebook.facebook_hover, .icons-facebook.facebook-hover {
  background-position: 0 -180px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin {
  background-position: 0 0;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-linkedin:hover, .icons-linkedin.linkedin_hover, .icons-linkedin.linkedin-hover {
  background-position: 0 -150px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-location {
  background-position: 0 -280px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -240px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-spotify {
  background-position: 0 -60px;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-spotify:hover, .icons-spotify.spotify_hover, .icons-spotify.spotify-hover {
  background-position: 0 -30px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-telephone {
  background-position: 0 -260px;
}

/* line 60, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -120px;
}
/* line 43, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter:hover, .icons-twitter.twitter_hover, .icons-twitter.twitter-hover {
  background-position: 0 -90px;
}

/* line 7, ../sass/portfolio.scss */
.portfolio-slider {
  position: absolute;
  top: 250%;
  left: 50%;
  z-index: 1;
  width: 1000px;
  height: 600px;
  margin: -250px 0 0 -500px;
}
/* line 16, ../sass/portfolio.scss */
.portfolio-slider #background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* line 26, ../sass/portfolio.scss */
.portfolio-slider .gallery,
.portfolio-slider .gallery .inside {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 32, ../sass/portfolio.scss */
.portfolio-slider .gallery .inside {
  top: 0;
}
/* line 36, ../sass/portfolio.scss */
.portfolio-slider .gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 41, ../sass/portfolio.scss */
.portfolio-slider .gallery .inside {
  z-index: 1;
}
/* line 48, ../sass/portfolio.scss */
.portfolio-slider .arrows a {
  position: absolute;
  z-index: 3;
  width: 32px;
  height: 52px;
  background-repeat: no-repeat;
  outline: none;
  text-indent: -9999px;
}
/* line 58, ../sass/portfolio.scss */
.portfolio-slider .arrows .prev, .portfolio-slider .arrows .up {
  display: none;
}
/* line 62, ../sass/portfolio.scss */
.portfolio-slider .arrows .up, .portfolio-slider .arrows .down {
  width: 100%;
}
/* line 68, ../sass/portfolio.scss */
.portfolio-slider .arrows .up:hover, .portfolio-slider .arrows .down:hover, .portfolio-slider .arrows .next:hover, .portfolio-slider .arrows .prev:hover {
  background-color: rgba(78, 177, 186, 0.35);
  -webkit-transition: background-color 300ms ease-in-out, color 250ms ease-in-out, opacity 500ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out, color 250ms ease-in-out, opacity 500ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out, color 250ms ease-in-out, opacity 500ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 250ms ease-in-out, opacity 500ms ease-in-out;
}
/* line 73, ../sass/portfolio.scss */
.portfolio-slider .arrows .prev, .portfolio-slider .arrows .next {
  top: 180px;
}
/* line 77, ../sass/portfolio.scss */
.portfolio-slider .arrows .up {
  left: 0;
  height: 200px;
}
/* line 82, ../sass/portfolio.scss */
.portfolio-slider .arrows .down {
  bottom: 0px;
  left: 0;
  height: 250px;
}
/* line 88, ../sass/portfolio.scss */
.portfolio-slider .arrows .prev {
  height: 100%;
  width: 250px;
  right: 750px;
  top: 0;
}
/* line 95, ../sass/portfolio.scss */
.portfolio-slider .arrows .next {
  height: 100%;
  width: 250px;
  left: 750px;
  top: 0;
}
/* line 103, ../sass/portfolio.scss */
.portfolio-slider .item {
  position: absolute;
  top: 0;
  width: 1000px;
  height: 500px;
}
/* line 109, ../sass/portfolio.scss */
.portfolio-slider .item div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 116, ../sass/portfolio.scss */
.portfolio-slider .item div img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
}
/* line 124, ../sass/portfolio.scss */
.portfolio-slider .paths {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -30px;
  z-index: 4;
}
/* line 131, ../sass/portfolio.scss */
.portfolio-slider .paths div {
  position: absolute;
  top: 0;
}
/* line 136, ../sass/portfolio.scss */
.portfolio-slider .paths a {
  background: #fff;
  display: block;
  position: absolute;
  left: 0;
  outline: none;
}
/* line 145, ../sass/portfolio.scss */
.portfolio-slider .paths a:hover,
.portfolio-slider .paths a.active {
  background: #4eb1ba;
}
