@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,200,100);

@font-face {
    font-family: 'Open Sans Light';
    src: url('OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('OpenSans-Regular.ttf');
}

$nav-text-color: #ffffff;
$nav-text-color-hov: #4EB1BA;
$nav-bg-color: rgba(78, 177, 186, .35);
$nav-bg-color-hov: #00323B;

$dash-color: #4EB1BA;
$intro-text-color: #4EB1BA;
$selection-text-color: #4EB1BA;

$copyright-text-color: #4EB1BA;
