@import "compass/css3";
@import "_vars.scss";

/* ==============
    Navigation
   ============== */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    background-color: $nav-bg-color;
    opacity: .7;
    @include transition(background-color 500ms ease-out);

    &:hover {
        background-color: $nav-bg-color-hov;
        opacity: 1;
        @include transition(background-color 300ms ease-out, color 250ms ease-out, opacity 500ms ease-out);
        color: $nav-text-color;
    }

    .logo {
        h1 {
            float: left;
            width: 254px;
            height: 50px;
            text-indent: -9999px;
            margin-left: 45px;
            margin-top: 10px;
        }
        a {
            display: block;
            width: 254px;
            height: 50px;
            background: url("../img/logo-white.png") no-repeat;

        }
    }
    .menu {
        float: right;
        a {
            color: $nav-text-color;
            font-size: 1.1em;
            text-decoration: none;
            text-transform: uppercase;
            cursor: default;

            /*  cross effect on hover  */
            padding: 12px 5px;
            color: #fff;
            font-weight: 400;
            @include transition(color 0.3s);

            &:before, &:after {
                position: absolute;
                width: 100%;
                left: 0;
                top: 50%;
                height: 2px;
                margin-top: -1px;
                background: $intro-text-color;
                content: '';
                z-index: -1;
                @include transition(transform 0.3s, opacity 0.3s);
                pointer-events: none;
            }
            &:before {
                @include transform(translateY(-20px));
            }
            &:after {
                @include transform(translateY(20px));
            }
            &:hover, &:focus {
                color: $nav-text-color-hov;
            }
            &:hover:before, &:hover:after,
            &:focus:before, &:focus:after {
                opacity: 0.7;
            }
            &:hover:before, &:focus:before {
                @include transform(rotate(45deg));
            }
            &:hover:after, &:focus:after {
                @include transform(rotate(-45deg));
            }
        }
    }

    .nav-item {
        position: relative;
        list-style: none;
        float: left;
        margin: 0 45px 0 0;
        line-height: 46px;
        z-index: 1;
    }

}

@media (max-width: 1024px) {
}

@media (max-width: 980px) {
    nav {
        .nav-item {
            margin-right: 26px;
        }
    }
}

@media (max-width: 767px) {
    nav {
        padding: 0;
        background-color: $nav-bg-color-hov;
        opacity: 1;

        .logo h1 {
            margin-top: 0;
            padding: 10px 0;
            //padding: 10px 0;
            //float: none;
            //margin: 0 auto;
        }

        .menu-btn {
            cursor: crosshair;
            background: url("../img/menu-btn.png");
            margin: 19px 45px 0 0;
            position: relative;
            width: 30px;
            height: 30px;
            float: right;
        }

        //.is-hidden {
        //    display: none;
        //}

        .menu {
            clear: both;
            float: none;

            .nav-item {
                float: none;
                text-align: center;
            }

            a {
                color: $nav-text-color;
                font-size: 1.1em;
                text-decoration: none;
                text-transform: uppercase;
                cursor: default;

                /*  cross effect on hover  */
                display: block;
                padding: 0;
                color: #fff;
                font-weight: 400;
                @include transition(color 0.3s);

                &:before, &:after {
                    //position: absolute;
                    //width: 100%;
                    //left: 0;
                    top: 100%;
                    //height: 2px;
                    //margin-top: -1px;
                    //background: $intro-text-color;
                    content: '';
                    //z-index: -1;
                    @include transition(none);
                    //pointer-events: none;
                }
                &:before {
                    @include transform(none);
                }
                &:after {
                    @include transform(none);
                }
                &:hover, &:focus {
                    color: $nav-text-color-hov;
                }
                &:hover:before, &:hover:after,
                &:focus:before, &:focus:after {
                    opacity: 0.7;
                }
                &:hover:before, &:focus:before {
                    @include transform(none);
                }
                &:hover:after, &:focus:after {
                    @include transform(none);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    nav {
        .logo h1 {
            //margin-left: 25px;
            width: 154px;
        }

        .logo a {
            display: block;
            width: 154px;
            height: 50px;
            background: url("../img/logo-white-small.png") no-repeat;

        }
    }

    .menu-btn {
        margin-right: 25px;
    }
}


@media (max-width: 321px) {
    nav {
        .logo h1 {
            margin-left: 25px;
        }

        .menu-btn {
            margin-right: 25px;
        }
    }
}

