@import "compass/css3";
@import "_vars.scss";
@import "icons/*.png";

@include all-icons-sprites;

.portfolio-slider {
    position: absolute;
    top: 250%;
    left: 50%;
    z-index: 1;
    width: 1000px;
    height: 600px;
    margin: -250px 0 0 -500px;

    #background {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:2;
    }

    .gallery,
    .gallery .inside {
        position: absolute;
        top: 0;
        left: 0;
    }

    .gallery .inside {
        top: 0;   // 110px;
    }

    .gallery {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .inside {
            z-index: 1;
            //left: 33px;
        }
    }

    .arrows {
        a {
            position: absolute;
            z-index: 3;
            width: 32px;
            height: 52px;
            background-repeat: no-repeat;
            outline: none;
            text-indent: -9999px;
        }

        .prev, .up {
            display: none;
        }

        .up, .down {
            //left: 50%;
            //margin-left: -16px;
            width: 100%;
        }

        .up:hover, .down:hover, .next:hover, .prev:hover {
            background-color: $nav-bg-color;
            @include transition(background-color 300ms ease-in-out, color 250ms ease-in-out, opacity 500ms ease-in-out);
        }

        .prev, .next {
            top: 180px;
        }

        .up {
            left: 0;
            height: 200px;
        }

        .down {
            bottom: 0px;
            left: 0;
            height: 250px;
        }

        .prev {
            height: 100%;
            width: 250px;
            right: 750px;
            top: 0;
        }

        .next {
            height: 100%;
            width: 250px;
            left: 750px;
            top: 0;
        }
    }

    .item {
        position: absolute;
        top: 0;
        width: 1000px;
        height: 500px;

        div {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
        }

        div img {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -300px;
        }
    }

    .paths {
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -30px;
        z-index: 4;

        div {
            position: absolute;
            top: 0;
        }

        a {
            background: #fff;
            display: block;
            position: absolute;
            left: 0;
            outline: none;
        }

        a:hover,
        a.active {
            background: #4eb1ba;
        }
    }

}