@import "compass/css3";
@import "_vars.scss";
@import "icons/*.png";

@include all-icons-sprites;

body {
    color: #424242;
    font: normal 15px "Open Sans Light", arial, sans-serif;
    font-weight: 100;
    font-smoothing: antialiased;

    h1, h2, h3, h4 {
        margin: 0;
    }

    a {
        text-decoration: none;
        cursor: default;
    }

    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF; /* change if the mask should have another color then white */
        z-index: 99; /* makes sure it stays on top */
    }

    #status {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background: url(../img/status.gif) no-repeat center;
        margin: -100px 0 0 -100px; /* is width and height divided by two */
    }

    .main {
        .section-title {
            //padding-top: 120px;
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 50px;
            color: #666;
        }
        .dash {
            display: block;
            height: 2px;
            width: 80px;
            background: $dash-color;
            margin: 0 auto;
        }
    }

    .container {
        max-width: 990px;
        width: 92%;
        margin: 0px auto;
        position: relative;
        zoom: 1;
    }

    .content {
        padding-top: 140px;
        text-align: center;
    }

    .sub-heading {
        margin: 48px auto;
        max-width: 1024px;
    }

    .animated {
        @include transition-delay(.3s);
    }

    .ae-animation-slide {
        @include translateY(-20%);
        @include transition-duration(1s);
        opacity: 1 !important;
    }

    .slide {
        opacity: 0;
    }
    html.ie9 .slide {
        opacity: 1 !important;
    }

}

.title {
    background: url("../img/intro.jpg");
    background-size: cover;

    .title-wrapper {
        text-align: center;

        .intro-slider {
            list-style: none;
            height: 98px;
            overflow: hidden;
            text-transform: uppercase;

            span {
                display: block;
                height: 90px;
                font-size: 50px;
                font-weight: 300;
                cursor: default;
                color: $intro-text-color;
            }
        }

        .learn-more {
            margin: 0 auto;
            width: 235px;
            padding-top: 40px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 15px;
            line-height: 30px;

            a {
                text-decoration: none;
                padding: 20px 65px;
                border: 1px solid $intro-text-color;
                background-color: rgba(255, 255, 255, 0);
                color: #fff;
                @include transition(background-color 200ms ease-in);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}

.about {
    position: relative;
    //background: #ffffff;
    background: url("../img/about2.jpg") 50% 0 no-repeat;
    height: 850px;

    .about-projects {
        background: url("../img/about-projects.png") no-repeat center;
        background-size: 100%;
        max-width: 100%;
        height: 330px;
        margin-top: 150px;
    }
}

.portfolio {
    position: relative;
    //background: #00323b;
    background: url("../img/portfolio-blur.jpg") 50% 0 no-repeat fixed;
    height: 1100px;

    .content .section-title {
        color: #fff;
    }

    .project-description {
        width: 533px !important;
        height: 400px !important;
        margin-left: 200px;
        color: #fff;

        .project-details {
            list-style: none;
            position: absolute;
            top: 85px;
            left: 150px;
            text-align: left;
            font-size: 10px;
            filter: alpha(opacity=80);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
            opacity: 0.8;
            -moz-opacity: 0.80;
        }

        .project-info {
            position: absolute;
            top: 160px;
            padding: 0 20px;
            text-align: justify;
            font-size: 14px;
        }

        .project-header {
            width: 493px;
            height: 400px;
            margin: 0;
            padding: 0 20px;
            background: url("../img/project-description.jpg") no-repeat;
            //background: $nav-bg-color-hov;
            filter: alpha(opacity=80);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
            opacity: 0.8;
            -moz-opacity: 0.80;

            .project-number {
                float: left;
                font-size: 80px;
                font-style: italic;
                padding: 30px 0 30px 5px;
            }

            .project-title {
                position: absolute;
                line-height: 131px;
                text-transform: uppercase;
                font-size: 26px;
                padding-bottom: 10px;
                left: 190px;
            }
        }

        .arrow {
            background: url("../img/arrow.png") no-repeat 50%;
            width: 100px;
            height: 100px;
            top: 320px;
            left: 43%;
            position: absolute;
        }
    }
}

.footer {
    height: 450px;
    width: 100%;
    background: url("../img/sunset2.jpg") no-repeat;

    .footer-container {
        background: url("../img/down.png") no-repeat;
        height: 450px;
    }

    ::selection {
        background: $nav-bg-color;
        color: $selection-text-color;
    }

    .section-title {
        padding-top: 80px;
    }

    .contact-hatch {
        list-style: none;
        padding: 100px 0 0;
        margin: 0 20px;
        text-align: center;
        opacity: 1;

        li {
            display: inline-block;
            margin: 0 30px;
            opacity: 0.5;
            cursor: crosshair;
            height: 77px;
            *display: inline;

            &:hover {
                opacity: 1;
            }
        }
        .icons-telephone,
        .icons-mail,
        .icons-location {
            display: inline-block;
            height: 20px;
            width: 20px;
            *display: inline;
        }
        .phone p,
        .mail p,
        .location p {
            color: #fff;
            font-size: 13px;
        }
        .location a,
        .mail a {
            text-decoration: none;
            cursor: crosshair;
        }
    }

    p {
        margin: 0;
        padding-top: 10px;
    }

    .info {
        max-width: 990px;
        height: 180px;
        margin: 0 auto;
        text-align: center;

        .social-links {
            list-style: none;
            padding: 50px 0;

            li {
                display: inline-block;
                margin: 0 30px;
                *display: inline;

                span {
                    position: relative; /* To animate the `top` position */
                    display: block;
                    height: 30px;
                    width: 30px;
                }
            }
        }

        .copyright {
            text-transform: uppercase;
            text-align: center;
            margin: 85px 15px 0 15px;
            padding-bottom: 10px;

            p {
                color: $copyright-text-color;
                letter-spacing: 0.20em;
                margin: 0;
                font-size: 0.8em;
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 600px) {
    body {
        .ae-animation-slide {
            @include translateY(0%);
            @include transition-duration(1s);
            opacity: 1 !important;
        }

        .content {
            padding-top: 70px;
        }
    }

    .about {
        //height: 1050px;

        .about-projects {
            background: url("../img/about-projects-small.png") no-repeat;
            background-size: 100%;
            height: 660px;
            max-width: 100%;
            margin-top: 0;
        }
    }

    .footer {
        .contact-hatch {
            margin: 2px;
            li {
                margin: 0 10px;
            }

            li:first-child {
                margin-left: 0;
            }

            li:last-child {
                margin-right: 0;
            }

            li p {
                font-size: 11px !important;
            }
        }

        .info {
            .social-links {
                padding: 50px 0;
                margin: 0;

                li {
                    margin: 0 10px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .title .title-wrapper .learn-more a {
        padding: 20px 40px;
    }

    .info {
        .copyright {
            margin-top: 55px !important;
        }
    }
}

@media (max-width: 324px) {
    .info {
        .copyright {
           margin-top: 5px !important;
        }
    }
}
